@import "libs/bootstrap-reboot.min";
@import "libs/bootstrap-grid.min";
@import "base/variables";
@import "base/mixins";

* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 50px;
  background-color: #212121;
}

.hamburger {
  display: none;
}

@import "blocks/menu";
@import "blocks/subheader";
@import "blocks/promo";
@import "blocks/label";
@import "blocks/title";
@import "blocks/subtitle";
@import "blocks/reasons";
@import "blocks/mobile";
@import "blocks/car";
@import "blocks/require";
@import "blocks/planet";
@import "blocks/footer";
@import "blocks/media";

.xs-visible {
  display: none;
}