footer {
  padding: 14px 23px 39px;

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.footer {
  &_divider {
    margin: 0 auto;
    width: 299px;
    height: 4px;
    background-color: #1fbad6;
  }

  &_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 32px;
  }

  &_wrapper > div {
    width: 33%;

    &:nth-child(3) {
      display: flex;
      justify-content: flex-end;
    }
  }

  &_social {
    display: flex;
    justify-content: space-between;
    width: 160px;

    &_item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 4px;
      border-radius: 100%;
      width: 32px;
      height: 32px;
      background-color: #070716;

      i {
        color: $main-color;
      }

      svg {
        color: #ff1123;
      }
    }
  }

  &_links {
    margin: 0 auto;
    width: 390px;

    &_main {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;

      a {
        font-weight: 300;
        font-size: 15px;
        text-transform: uppercase;
        color: #070716;
      }
    }

    &_sub {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      a {
        font-weight: 300;
        font-size: 11px;
        text-transform: uppercase;
        color: #999;
      }
    }

    &_lang {
      display: block;
      margin: 0 auto;
      margin-top: 19px;
      font-weight: 400;
      font-size: 11px;
      text-align: center;
      text-transform: uppercase;
      color: #1fbad6;
    }
  }
}