.planet {
  position: relative;
  padding: 49px 0;
  min-height: 717px;
  background: url("../img/bg/map.jpg") center (center / cover) no-repeat;

  &_link {
    position: absolute;
    left: 50%;
    bottom: 49px;
    font-weight: 400;
    font-size: 15px;
    line-height: 68px;
    text-align: center;
    text-transform: uppercase;
    color: #1fbad6;
    transform: translateX(-50%);

    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}