.require {
  padding: 68px 0 84px;

  &_block {
    margin: 33px 0;

    &_nmb {
      margin-bottom: 0;
    }
  }

  &_title {
    font-weight: 400;
    font-size: 22px;
    color: #1ca8c3;
  }

  &_list {
    list-style-type: none;
    margin-top: 22px;
    padding-left: 50px;

    li {
      position: relative;
      margin-bottom: 10px;
      font-weight: 300;
      font-size: 17px;
      line-height: 24px;

      &::before {
        content: "";
        position: absolute;
        left: -32px;
        top: 3px;
        display: block;
        width: 21px;
        height: 20px;
        background: url("../icons/check_blue.svg") center (center / cover) no-repeat;
      }
    }
  }

  &_descr {
    font-weight: 300;
    font-size: 17px;
    color: #1ca8c3;
  }

  .warning {
    .require_title {
      color: $red-color;
    }

    .require_list {
      li {
        &::before {
          background: url("../icons/check_red.svg") center (center / cover) no-repeat;
        }
      }
    }
  }
}