.title {
  position: relative;
  z-index: 2;
  margin-top: 38px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222;

  &_white {
    color: #fff;
  }
}